:root {
    
  --ff--primary: 'Rubik', sans-serif;
  --ff--secondary: "Be Vietnam Pro", sans-serif;
  --ff--third: 'Lora', serif;

  --clr--dark: #0d0b11;
  --clr--light: #f6ebff;
  --clr--accent: #38373b;
  --clr--light-accent: #00c89e;

  --fs--h1: 3rem;
  --fs--h2: 2.25rem;
  --fs--h3: 1.25rem;
  --fs--body: 1rem;
  --fs--icon: 1.75rem;

  --fw--reg: 400;
  --fw--bold: 700;
}

/* general style */

html,body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr--dark);
  color: var(--clr--light);
  font-family: var(--ff--primary);
  font-size: var(--fs--body);
  line-height: 1.6;
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  display: block;
  max-width: 100%;
}

/* typography */

.name {
  align-self: center;
  padding-left: 0.5em;
}

.strong {
  font-weight: var(--fw--bold);
  display: block;
}

h2,
h3 {
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: var(--fs--h2);
}
h3 {
  font-size: var(--fs--h3);
}


/* btn*/


/*/////////////////////////////////////////*/
/* Nav Bar*/

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to bottom, var(--clr--dark),transparent);
  padding: 0;
  padding: 1em 6em;
  margin-top: 0;
}

.uil {
  font-size: var(--fs--icon);
  margin-left: 0.5em;
}


.nav-bar-right{
    display: flex;
    gap: 1.5rem;
    font-size: var(--fs--h3);
    align-items: center;
}

.nav-bar-right >a {
    text-decoration: none;
    color: var(--clr--light);
}

.nav-bar-left{
    display: flex;
    align-items: center;
}
/* end Nav Bar */
/*/////////////////////////////////////////*/

/*/////////////////////////////////////////*/
/* hero */

.hero{
    background-color: var(--clr--accent);
    background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)), url(src\img\circuit-background.jpg);
    background-size: cover;
}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero-main > div {
  margin: 2.75em;
  text-align: center;
  font-size: var(--fs--h2);
}

.hero-main > button {
    font-size: var(--fs--h3);
  margin: 2.75em;
  border-radius: 30px;
  background-color: var(--clr--light-accent);
  text-align: center;
  color: var(--clr--light);
  padding: 1em;
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

.hero-main > button:hover {
    box-shadow: none;
}

/* end hero */
/*/////////////////////////////////////////*/

/*/////////////////////////////////////////*/
/*main*/

main{
    height: 400px;
    background-color: var(--clr--dark);
}

/* end main */
/*/////////////////////////////////////////*/

/*/////////////////////////////////////////*/
/*footer*/

.align-right{
    text-align: end;
}


footer{
    background-color: var(--clr--accent);
    font-family: var(--ff--primary);
    padding: 2.5em 0;
}

.footer-text-container{
    display: flex;
    justify-content: space-between;
    border-bottom: white 1px solid;
    text-align: top;
    margin: 0 5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    color: var(--clr--light);
}

.footer-bold{
    font-weight: var(--fw--bold);
    color: var(--clr--light-accent);
    letter-spacing: 1px;

}

.footer-logo{
    font-family: var(--ff--third);
    font-weight: var(--fw--bold);
    margin-top: 0.25em;
    margin-bottom: 0;
    letter-spacing: 1.5px;
}


.footer-slogan{
    margin-top: 0;
}

.footer-card{
    display: grid;
    place-items: center;
    align-content: center;
}

.footer-card-container{
    margin-bottom: 2.5em;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 1em;
}

.logo > img {
    height: 200px;
    width: 200x;
    border-radius: 5px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2){transition-delay: 200ms;}
.logo:nth-child(3){transition-delay: 400ms;}


.logo{
    cursor: pointer;
}

.logo:hover{
    opacity: .7;
}

.font-awsome{
    margin-left: .40em;
}

.font-awsome:hover{
    opacity: .5;
    cursor: pointer;
}

.font-awsome:nth-child(2){transition-delay: 200ms;}
.font-awsome:nth-child(3){transition-delay: 400ms;}
.font-awsome:nth-child(4){transition-delay: 600ms;}
.font-awsome:nth-child(5){transition-delay: 800ms;}

.text-hidden{
    opacity: 0;
    transition: all 2s;
}

.text-show{
    opacity: 1;
}
/* end footer */
/*/////////////////////////////////////////*/


